* {
    box-sizing: border-box;
  }
  
  img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: Franklin Gothic Medium, 'Arial Narrow', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
  }
  .gallery {
    margin-top: 50px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .photo-card {
    height: 260px;
    width: 370px;
    border-radius: 1em;
  }
  
  .info {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    padding: 0 1.5em;
    color: rgb(0, 0, 0);
  }
  
  input {
    border-radius: 5em;
    width: 33%;
    appearance: none;
    border: none;
    outline: none;
    padding-left: 15px;
    color: #482828;
    background: black;
  }
  
  input::placeholder {
    color: #ffffff;
  }
  
  .search-form {
    display: flex;
    margin-top: 35px;
    justify-content: center;
    gap: 25px;
  }
  
  button {
    border-radius: 50px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    height: 40px;
    padding: 1px 16px;
    margin-right: 40px;
    background-color: #000000;
  }